

.dots li {
  list-style:inside;
  /* margin-bottom: 5px; Add space between list items (optional) */
} 
/* .react-responsive-modal-container {
  height: 100%;
  outline: 0;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  background-color: var(--primary);
  background-color: wheat;
} */
.payModal{
  border-radius: 10px !important;
  width: 30vw;
  height: 100%;
}
.planPad{
  padding-top: 30px;
  padding-bottom: 30px;
}
.myplans { 
  position: relative;
  /* background-image: url(../assets/images/6.png); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background: linear-gradient(to bottom, #0078d7, #02255d);
  /* height: 100vh; Ensures the background image and color take up full viewport height */
}
.mainPlans {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.mainPlans .div1 {
  width: 27vw;
  /* height: 350px; */
  border-radius: 15px;
}
.mainPlanLine {
  border: 2px solid rgb(220, 220, 220);
  width: 95%;
  height: 1px;
}
.gray {
  color: rgb(93, 91, 91);
}
.valData {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainPlanBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.SMediaPlan {
  height: 60px;
  display: flex;
  align-items: center;
}
.SMtagsPlan {
  display: flex;
  gap: 10px;
  align-items: center;
}
.SMtagsPlan div img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.nonOtpSpace {
  height: 60px;
}
.smGap {
  display: flex;
  gap: 5px;
}


/* arrow */

.custom-left-arrow,
.custom-right-arrow {
  font-size: 20px;
  color: #333;
}

.custom-left-arrow:hover,
.custom-right-arrow:hover {
  color: #007bff;
}
@media (max-width: 1400px) {
  .mainPlanBtn .btn {
    font-size: 1rem;
    padding: 5px;
  }
}

@media (max-width: 1200px) {
  .valData .data p ,span {
    font-size: 0.8rem;
  }
  .valData .validity p ,span {
    font-size: 0.8rem;
  }

  .mainPlanBtn .btn{
    /* font-size: 0.7rem; */
    padding: 5px;
  }

  .mainPlans {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  .mainPlans .div1 {
    width: 450px;
    /* height: 350px; */
    border-radius: 15px;
  }
}
@media (max-width:991px) {
  .mainPlans .div1 {
    width: 330px;
    /* height: 350px; */
    border-radius: 10px;
  }
  .payModal{
   
    width: 50vw;
    height: 100%;
  }
}

@media (max-width:767px) {
  .valData .data p ,span {
    font-size: 0.7rem;
  }
  .valData .validity p ,span {
    font-size: 0.7rem;
  }
  .mainPlanBtn .btn{
    font-size: 0.8rem;
  }
  .planPad{
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .valData{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .mainPlans .div1 {
    width: 490px;
    /* height: 350px; */
    border-radius: 10px;
  }
  .mainPlanBtn .btn{
    font-size: 1rem;
    padding: 10px;
  }
  .temp767 .btn{
    font-size: 0.7rem;
    padding: 7px 3px;
  }
  .payModal{
   
    width: 80vw;
    height: 100%;
  }
}

@media (max-width:570px) {
  .valData .data p ,span {
    font-size: 1rem;
  }
  .valData .validity p ,span {
    font-size: 1rem;
  }
  .mainPlanBtn .btn{
    font-size: 1rem;
    padding: 10px;
  }
  .valData{
    display: flex;
    flex-direction: row;
    /* align-items: flex-start; */
    gap: 10px;
  }
}
@media (max-width:400px) {
  .valData{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .payModal{
   
    width: 100%;
    height: 100%;
  }
  .dots li{
    font-size: 0.7rem !important;
  }
}


@media (max-width:350px) {
  .mainPlanBtn .btn{
    font-size: 0.8rem;
    padding: 4px;
  }
}
