.mycircles {
  height: 20em;
  position: relative;
  width: 20em;

  > div {
    animation: growAndFade 3s infinite ease-out;
    background-color: var(--secondary-color);
    border-radius: 50%;
    height: 100%;
    opacity: 0;
    position: absolute;
    width: 100%;
  }

  .mycircle1 {
    animation-delay: 1s;
  }
  .mycircle2 {
    animation-delay: 2s;
  }
  .mycircle3 {
    animation-delay: 3s;
  }
}

@keyframes growAndFade {
  0% {
    opacity: 0.25;
    transform: scale(0);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

/* ripple */

/* .Mywrap {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
} */

.ripplebutton {
  background: var(--secondary-color);
  cursor: pointer;
  /* border: 1px solid white; */
  color: var(--secondary-color);
  height: 30px;
  width: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 100%;
  text-transform: uppercase;
  font-family: "Muli-LightItalic", Helvetica;
  font-size: 20px;
  line-height: 10px;
  animation: ripple 1.5s linear infinite;
  transition: all 0.7s ease;
}

.ripplebutton:hover {
  transform: scale(1.1);
}

.ripplebutton:focus {
  outline: none;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 var(--secondary-color), 0 0 0 1px var(--secondary-color),
      0 0 0 3px var(--secondary-color), 0 0 0 5px var(--secondary-color);
  }
  100% {
    box-shadow: 0 0 0 0 var(--secondary-color), 0 0 0 1px var(--secondary-color),
      0 0 0 10px rgba(255, 255, 255, 0), 0 0 0 20px rgba(255, 255, 255, 0);
  }
}

/* ripple end */

/* Gradient animation */
/* Define a custom property with Houdini API */
@property --Gradientprogress {
  syntax: "<percentage>";
  inherits: true;
  initial-value: 0%;
}

:root {
  --c1: var(--primary);
  --c2: var(--secondary-color);
  --c3: var(--secondary-color);
  --c4: var(--secondary-color);
}

@keyframes Gradientprogress {
  from {
    --Gradientprogress: 0%;
  }
  to {
    --Gradientprogress: 100%;
  }
}

.Gradientcircle {
  --Gradientprogress: 60%;
  /* Check if browser supports Houdini API, then start animation from 0 */
  @supports (background: paint(houdini)) {
    --Gradientprogress: 0%;
  }
  background: conic-gradient(
    at center,
    var(--c1) var(--Gradientprogress),
    rgba(239, 236, 236, 0.48) var(--Gradientprogress),
    var(--c2) calc(var(--Gradientprogress) + 20%),
    var(--c3) calc(var(--Gradientprogress) + 30%),
    var(--c3) calc(var(--Gradientprogress) + 50%),
    transparent,
    transparent,
    transparent,
    transparent
  );
  animation: Gradientprogress 4s linear infinite;
  border-radius: 100%;
  mask: radial-gradient(circle at center, transparent 65%, black 65%);
  position: absolute;
  inset: 0;
}

.Gradientcircle:nth-child(1) {
  inset: 30px;
  /* background-color: rebeccapurple; */
}
.Gradientcircle:nth-child(2) {
  inset: 45px;
  animation-delay: 1s;
}

.Gradientcircle:nth-child(3) {
  inset: 60px;
  animation-delay: 0.5s;
}

.Gradientcontainer {
  filter: drop-shadow(0 0 0.2vmin hsla(0, 0%, 0%, 1));
  position: relative;
  width: 280px;
  aspect-ratio: 1;
  /* border: 2px solid white; */
}

.Gradientcontainer:after {
  /* content: "@property 🧙‍♂️✨"; */
  content: url("../assets/images/FIW.png");
  font-weight: bold;
  position: absolute;
  /* font-size: 25px; */
  inset: 0;
  color: white;
  display: grid;
  place-items: center;
  transform: scale(0.3);
  margin-right: 65px;
  /* width: auto;
  height: auto; */
}

.socialMedia {
  height: 100%;
  background: linear-gradient(to bottom, #0078d7, #02255d);
}

.SMapp {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.SMHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;

  h1 {
    font-weight: 600;
    font-size: 2rem;
    color: var(--primary);
    color: white;
  }

  p {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    color: white;
  }

  a {
    color: var(--primary);
    color: #fff;
  }
}
.smrow {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 150px;
}
.SMtag-list {
  width: 50%;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  gap: 1px;
  /* position: relative; */
  overflow: hidden;
}

.SMloop-slider {
  .SMinner {
    display: flex;
    /* width: fit-content; */
    margin-bottom: 20px;
    /*animation-name: SMloop;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: var(--duration);
    animation-direction: var(--direction); */
  }
  overflow: hidden;
  width: 100%;
}

.SMtag {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  /* color: var(--primary); */
  color: white;
  font-size: 0.9rem;
  text-align: center;
  border-radius: 0.4rem;
  padding: 0.7rem 1rem;
  margin-right: 15px;
  /* box-shadow: 
    0 1px 2px rgb(0 0 0 / 20%),
    0 1px 0.5px rgb(0 0 0 / 30%),
    0 2px 1.5px rgb(0 0 0 / 40%); */
}

.SMtag span img {
  width: 35px;
  height: 35px;
  border-radius: 100%;
}

.SMfade {
  pointer-events: none;
  background: linear-gradient(
    90deg,
    #1e293b,
    transparent 30%,
    transparent 70%,
    #1e293b
  );
  inset: 0;
}

@keyframes SMloop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50%));
  }
}

/* accordian */
.accordion {
	--circle-x: 1.8rem;
	--circle-y: 0;
	--circle-r: 200%;
	--circle-bg: #fff;
	color: #000;

	background-color: var(--circle-bg);
	max-width: 56ch;
	margin-bottom: 1rem;
	border-radius: min(8px, 0.5rem);

	display: grid;
	grid-template-rows: 0fr 0fr;
	transition-timing-function: var(--slide-ease);
	transition-duration: 200ms, 200ms, var(--slide-duration);
	transition-property: opacity, box-shadow, grid-template-rows;
	transition-delay: 0ms, 0ms, var(--slide-delay);
	box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
	opacity: 0.9;
}

.accordion:not(:target):hover {
	box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5);
}

.accordion:not(:target):active {
	opacity: 1;
	box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.3);
}

.accordion,
.content {
	overflow: hidden;
}

.accordion:target {
	--d: 90deg;
	grid-template-rows: 0fr 1fr;
	transition: grid-template-rows var(--slide-ease) var(--slide-duration)
		var(--slide-delay);
}

.wrapper {
	padding-block: 0 1.05rem;
	padding-inline: 1.25rem;
}

.content {
	font-size: var(--size-accordion-content);
	line-height: 140%;
}

.content p {
	margin-bottom: 1rem;
}

.content a {
	color: currentColor;
	font-weight: 800;
	text-decoration: underline;
}

main :last-child,
.content :last-child {
	margin-bottom: 0;
}

.title a {
	padding: 1rem 1.25rem;
	font-size: var(--size-accordion-title);
	font-weight: 800;
	color: currentColor;
	text-decoration: none;
	display: flex;
	flex-direction: row;
	place-items: center;
}

.title a::before {
	--chevron-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3C!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --%3E%3Cpath fill='white' d='M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z'/%3E%3C/svg%3E");
	content: "";
	left: 0;
	top: 0;
	width: 0.65rem;
	aspect-ratio: 320 / 512;
	display: inline-block;
	margin-right: 0.75rem;
	transform: rotate(var(--d, 0deg));
	transition: transform var(--slide-ease) var(--slide-duration)
		var(--slide-delay);
	mask-image: var(--chevron-icon);
	mask-size: 100% 100%;
	-webkit-mask-image: var(--chevron-icon);
	-webkit-mask-size: 100% 100%;
	background-color: currentColor;
}

.accordion::before,
.accordion::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: var(--circle-bg);
	mix-blend-mode: difference;
	transform-style: preserve-3d;
	transition-timing-function: ease;
	transition-property: opacity, clip-path, visibility;
	pointer-events: none;
	clip-path: circle(var(--r) at var(--circle-x) var(--circle-y));
	border-radius: inherit;
	z-index: 4;
}

.accordion::before {
	--r: 0%;
	transition-delay: var(--circle-duration), var(--circle-duration), 0ms;
	transition-duration: 0ms, var(--circle-duration), 0ms;
	opacity: 0;
}

.accordion:target::before {
	--r: var(--circle-r);
	transition-delay: 0ms, 0ms, 0ms;
	transition-duration: 0ms, var(--circle-duration), 0ms;
	opacity: 1;
}

.accordion::after {
	--r: var(--circle-r);
	transition-delay: 0ms, 0ms, var(--circle-duration);
	transition-duration: 0ms, var(--circle-duration), 0ms;
	visibility: hidden;
	opacity: 1;
}

.accordion:target:after {
	--r: 0%;
	transition-delay: 0ms, 0ms, 0ms;
	transition-duration: 0ms, 0ms, 0ms;
	visibility: visible;
	opacity: 0;
}

.title a:focus-visible {
	background-color: hsl(0, 100%, 90%);
	outline: none;
}

.accordion:target .title a:focus-visible {
	background-color: hsl(183, 100%, 93%);
}

/* accordian end */

@media (max-width: 992px) {
  .SMapp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  .SMtag-list {
    width: 100%;
  }
  .smrow {
    flex-direction: column;
  }
  .SMHeader {
    margin: 0rem;

    h1 {
      font-weight: 500;
      font-size: 2.5rem;
      color: var(--primary);
      color: white;
    }

    p {
      margin-bottom: 0.5rem;
      font-size: 1rem;
      color: white;
    }

    a {
      color: var(--primary);
    }
  }
  @keyframes SMloop {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-40%));
    }
  }

  .SMtag-list {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .SMHeader {
    h1 {
      font-size: 2rem;
      text-align: center;
    }

    p {
      font-size: 1rem;
      text-align: center;
    }
  }
}
@media (max-width: 380px) {
  .SMHeader {
    h1 {
      font-size: 1.5rem;
      text-align: center;
    }

    p {
      font-size: 0.9rem;
      text-align: center;
    }
  }

  .SMloop-slider {
    .SMinner {
      margin-bottom: 10px;
    }
  }

  .SMtag {
    margin-right: 1px;
  }

  .SMtag span img {
    width: 25px;
    height: 25px;
    border-radius: 100%;
  }

  .mycircles {
    height: 18em;
    width: 18em;
  }
}

/* SocialMedia end */

.logos {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.logos-slide {
  display: flex;
  animation: scroll 20s linear infinite;
}
.logos-slideRev {
  display: flex;
  animation: scroll 20s linear infinite reverse;
}

.logos-slide img {
  width: 150px; /* Adjust logo size */
  margin: 0 10px;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 10px;
  width: 80px;
  height: 60%;
  content: "";
  z-index: 2;
}

/* .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.442));
  }
  
  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.423));
  }
   */

.logos:hover .logos-slide {
  animation-play-state: paused;
}

/* Infinite scrolling animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
