.wifiabout {
  display: flex;
  justify-content: end;
}

/* Default navbar behavior (expanded by default on larger screens) */
.navbar-collapse {
  max-height: none;
  opacity: 1;
  transition: none; /* Disable transitions for larger screens */
}

.para-light {
  text-align: justify;
  word-spacing: 1px;
}

.loaderBody {
  /* height: 90vh; */
  margin-top: 12%;
  /* background-color: red; */
  position: fixed;
  z-index: 10000;
}
.loaderRender{
  opacity: 0.2;
  transition: ease-in-out;
}

.Mylayout{
  background-color: rgba(0, 0, 0, 0.829);
  position: relative;
}
.abs{
  position: absolute;
  top: 140px;
}
.tempService{
  height: 280px;
}
.tempService h5{
  font-size: 1.2rem;
}

.ourServiceImg{
   background-image: url("../assets/images/home.png");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}
.ourServiceImgMob{
   background-image: url("../assets/images/mobHome.png");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   display: none !important;
}
.tempService{
  background-color: rgba(255, 255, 255, 0.176) !important;
}

/* new changes */

/* header */
.showNav1{
  display: none !important;
}
/* header end */

/* new changes end */

@media (max-width:1200px) {
  .tempService{
    height: 350px;
  }
  .tempService h5{
    font-size: 1.1rem;
  }
}
@media (max-width: 992px) {
  .wifiabout {
    display: flex;
    justify-content: center !important ;
  }
  .navbar-collapse {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 1s ease, opacity 0.8s ease;
  }

  .navbar-collapse.show {
    max-height: 550px;
    opacity: 1;
  }
  .tempService{
    height: 235px;
  }
}
@media (max-width:770px) {
  .abs{
    position: absolute;
    top: 280px;
  }
  .showNav1{
    display: block !important;
  }
  .showNav{
    display: none !important;
  }
  .ourServiceImg{
    background-image: url("../assets/images/home.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: none !important;
 }
 .ourServiceImgMob{
    background-image: url("../assets/images/mobHome.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: block !important;
 }
}

@media (max-width:450px) {
  .tempService{
    height: 280px;
  }
  .tempService h5{
    font-size: 1.1rem;
  }
  .tempService p{
    font-size: 0.9rem;
  }
}
@media (max-width:350px) {
  .tempService{
    height: 270px;
  }
  .tempService h5{
    font-size: 1rem;
  }
  .tempService p{
    font-size: 0.8rem;
  }
}
